@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body{
  font-family:'Poppins', sans-serif;
  font-size: medium;
  
}

.main{
  max-width: 500px;
  margin:30px auto;
  padding:30px;
  border: 1px solid steelblue;
  border-radius: 5px;
  overflow:auto;
  min-height: 300px;
}
.container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.btn{
  color:white;
  background-color: black;
  font-weight: bold;
  font-size: medium;
  text-align: center;
  width:10%;
  padding:2%;
  padding-right: 10%;
  padding-left: 4%;
  margin: 5px;
  cursor:pointer;
  border-radius: 6px;
}

.task{
  margin:15px;
  margin-left: 0;
  width:90%;
  background-color: #E8E8E8;
  font-size: medium;
  cursor:pointer;
  padding:1%;
  padding-left: 5%;
  border-radius: 5px;
}

.task h3{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.emptymsg{
  margin:15px;
  background-color: #E8E8E8;
  width:fit-content;
  margin: auto; 
}

.reminder{
  border:2px solid green;
}

h3{
  margin: 0;
}
p{
  margin: 0;
}

label{
  display: block;
  font-size: large;
}

input{
  display:block;
  width:90%;
  padding:10px;
  margin:10px;
  margin-left: 0;
  font-size: medium;
}

.reminder-label{
  display: inline;
}

input[type=checkbox]{
  display:inline;
  width: fit-content;
  margin:20px;
  transform:scale(1.2);
}

input[type=submit]{
  width:90%;
  margin:20px 10px;
  margin-bottom: 40px;
  background-color: black;
  color:white;
  border-radius: 10px;
  padding:10px;
  font-size: medium;
}

input[type=submit]:hover{
  background-color: #ccc;
  color:black;
  cursor:pointer;
}